[submodule "Src/Runtime/External/stb"]
	path = Src/Runtime/External/stb
	url = https://github.com/nothings/stb.git
[submodule "Src/Runtime/External/strconv"]
	path = Src/Runtime/External/strconv
	url = https://github.com/javacommons/strconv.git
[submodule "Src/Runtime/External/Effekseer"]
	path = Src/Runtime/External/Effekseer
	url = https://github.com/effekseer/Effekseer.git
[submodule "Src/Runtime/External/imgui"]
	path = Src/Runtime/External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Src/Runtime/External/ImGuizmo"]
	path = Src/Runtime/External/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
